
body {
  background-color: whitesmoke;

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.card {
  margin: 1% 2% !important;
}

.infected-card{
  border-bottom: 10px solid#b2b2ff;
}

.recovered-card {
  border-bottom: 10px solid #cbffc0;
}

.deaths-card {
  border-bottom: 10px solid #fdbec8;
}